section.rating
    .rating__container.container
        .rating__inner
            h3.rating__title.title Общий рейтинг компании
            .rating__total
                include _star-rating
                include _rates