.rating__progress.rates
    ul.rates__items
        li.rates__item
            h4.rates__title Скорость работы
            .rates__progress
                .progress
                    .progress-bar(data-progress='4.8')
                .progress-info
        li.rates__item
            h4.rates__title Качество обслуживания
            .rates__progress
                .progress
                    .progress-bar(data-progress='3.1')
                .progress-info
        li.rates__item
            h4.rates__title Ценовая политика
            .rates__progress
                .progress
                    .progress-bar(data-progress='1.6')
                .progress-info