.rating__star.star-rating
    .star-rating__counter
        span.star-rating__counter-total 2.3
        span.star-rating__counter-of 5
        .star-rating__stars
            span
        p.star-rating__reviews-counter
            span 6 <span>отзывов</span>