/* Russia - regular */
@font-face {
  font-family: "Russia";
  src: url("../fonts/8425.eot"); /* IE9 Compat Modes */
  src: url("../fonts/8425.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/8425.svg") format("svg"), /* Legacy iOS */
  url("../fonts/8425.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../fonts/8425.woff") format("woff"), /* Modern Browsers */
  url("../fonts/8425.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}