$c-blue: #2955C9;
$c-light: #FFF;
$c-inactive: #9cbaf0;
$c-grey: #C3CAD6;
$c-bgc: #e5e5e5;

$font: "Russia", "Arial", sans-serif;
$font-alt: "Russia",  "Arial", sans-serif;

$stop-scaling: 2000px;

$wide-screen: "min-aspect-ratio: 1680/650";

$wider: "min-aspect-ratio: 1441/760";
$narrower: "max-aspect-ratio: 1439/760";

$tablet: 1024px;
$mobile: 768px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$index: 1.38871;
