/* Fonts */
$font: 'Montserrat';
$font-alt: 'Arial', sans-serif;

/* Colors */
$c-white: #FFFFFF;

$c-main-black: #0F1011;
$c-text-black: #42464B;

$c-yellow: #FFDA44;

$c-orange: #FABD48;

$c-green: #10B97B;

$c-main-blue: #1373E5;
$c-blue: #338af3;
$c-lightblue: #EAF1F9;

$c-red: #E3405E;

$c-main-grey: #87919C;
$c-grey: #D7DFE9;
$c-lightgrey: #CED7E0;