.tabs {
  width: 490px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
  transition: .5s;
}

.tabs__control {
  position: absolute;
  top: 39px;
  padding: 0;
  z-index: 1;
  border: none;
  background-color: #FFFFFF;
  color: #C3CAD6;
  font-family: inherit;
  font-size: 26px;
  line-height: 26px;
  cursor: pointer;
  &:hover {
    color: #000;
  }
  &--active {
    color: #3464E0;
    transition: .5s;
    &:hover {
      color: #3464E0;
    }
  }
}
.tabs__control-authorization {
  left: 82px;
}
.tabs__control-registration {
  left: 251px;
}

.active-tab {
  display: block;
}

@media (max-width: 500px) {
  .tabs {
    width: 100%;
  }
  .tabs__control {
    left: 33%;
    top: 20px;
  }
  .tabs__control-registration {
    top: 50px;
  }
}